# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=laboratorio_etl
MONGO_COLLECTION=productos_raw

# MySQL
DATABASE_URL=mysql+mysqlconnector://root:tu_password@localhost:3306/laboratorio_etl

# DummyJSON API
DUMMYJSON_PRODUCTS_URL=https://dummyjson.com/products
DUMMYJSON_TIMEOUT_SECONDS=20